@mixin jumboForm {
    height: 460px;
    width: 100%;
    background-image:url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
    background-position: center top; 
    color: blanchedalmond;
}
@mixin jumboContainer {
    padding: 30px 20%;
    border: 1px solid black;
    display: flex;
    li{
        list-style-type: none;
        margin-bottom: 10px;
    }
}
@mixin jumbotronTitleMargins{
    margin-left: 250px;
    margin-right: 100px;
    width: 400px;
    font-size: 20px;
    h2, h3{
        margin-bottom: 20px;
    }

}
@mixin jumboBox{
    
     
        height: 420px;
        width: 400px;
        background-color: black;
        margin-top: calc(100%-420px);
        font-size: 30px;
    }
    
    .jumbotron {
   @include jumboForm;
  }

.jumbo-container {
    @include jumboContainer;
}
.jumbo-title {
   @include jumbotronTitleMargins;
}

.jumbo-box{
    @include jumboBox;
}