*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}




@import "partials/_blackHeaderAndFooter";
@import "partials/_upperMenu";
@import "partials/_dropdown";
@import "partials/_jumbotron";
@import "partials/_panels";
